@import "tailwindcss";

body {
  display: block;
}

.common {
  width: 100vw;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0vw;
  padding-right: 3vw;
  box-sizing: border-box;
  background-color: #fdf3fd;
  height: 15vh;
}

.header img {
  height: 18vh;
  width: 13vw;
}

.header p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 2px green;
  font-weight: 500;
}

.main-content {
  background-color: rgb(249, 251, 251);
  min-height: 80vh;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  width: 250px;
  height: 350px;
  border: 1px solid purple;
  border-radius: 8px;
  box-shadow: 0px 0px 3px gray;
  padding: 10px;
  box-sizing: border-box;
}

.card img {
  width: 150px;
  height: 200px;
}

.footer {
  background-color: #fdf3fd;
  height: 10vh;
  gap: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.system-menu {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.menu-icon {
  display: none;
}

@media(max-width: 800px) {
  .navlinks {
    width: 60vw;
    text-align: left;
  }
  .system-menu {
    display: none;
  }
  .menu-icon {
    display: flex;
    position: absolute;
    top: 20px;
    left: 50px;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    top: 20px;
    left: 80px;
    animation: forwards 1s fadeIn;
  }

  @keyframes fadeIn {
    from { 
      opacity: 0;
      transform: translateY(-200px);
    }
    to { 
      opacity: 1;
      transform: translateY(0);
     }
  }

  .mobile-menu Link {
    color: inherit;
  }
  .mobile-menu li {
    background-color: blueviolet;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 30vw;
    color: white;
  }

  .mobile-menu li:hover {
    background-color: purple;
    color: yellow;
  }
}